<h2>Student Mark Sheet</h2>
<table>
    <thead>
        <tr>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let marks of studentMarks">
            <td *ngIf="marks<35" style="color:red">{{marks}}*</td>
            <td *ngIf="marks>34">{{marks}}</td>
        </tr>
        <tr><b>Total Marks:</b> {{total}}</tr>
        <tr><b>Average Marks:</b> {{average}}</tr>
        
    </tbody>
</table>
