<div class="container">
    <h2>Add New Product</h2>
    <div class="form-horizontal">
    <div class="row">
    <div class="col-md-4">
    Product Name:
    </div>
    <div class="col-md-8">
    <input type="text" class="form-control" id="ProductName">
    </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
      Unit Price:
      </div>
      <div class="col-md-8">
      <input type="text" class="form-control" id="UnitPrice">
      </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
        Availability:
        </div>
        <div class="col-md-8">
        <input type="text" class="form-control" id="Availability">
        </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">
          
          </div>
          <div class="col-md-10">
          <input type="button" class="btn btn-success" value="Save">
          <input type="button" class="btn btn-danger" value="Cancel">
          </div>
          </div>
    
    
    </div>
    </div>
