
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="90"
    alt="Online Sales Logo"
    src="/assets/logo.png"
  />
  <span>ONLINE SALES PLATFORM</span>
    <div class="spacer"></div>
    <nav class="navbar navbar-expand-lg navbar-light">    
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" style="color:white;" href="/home" >Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" style="color:white;" href="/products" >Products <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" style="color:white;" href="/aboutus" >About Us <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" style="color:white;" href="/contactus" >Contact Us <span class="sr-only">(current)</span></a>
          
          <a class="nav-item nav-link active" style="color:white;" href="/cart" >Cart <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" style="color:white;" href="/login">Sign In <span class="sr-only">(current)</span></a>

        
        </div>
      </div>
    </nav>
</div>

<div class="content" role="main">
  <div class="d-flex" id="wrapper" style="width:1500px">
    <!-- Sidebar -->
   <app-sidebar></app-sidebar>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>

</div>
