
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/logo.JPG"
  />
  <span>Online Sales Platform</span>
    <div class="spacer"></div>
    <a class="MenuAnchorTag" style="color:white"  aria-label="Angular on twitter" rel="noopener" href="/home">
      Home
     </a>
     <a class="MenuAnchorTag" style="color:white" aria-label="Angular on twitter" rel="noopener" href="/aboutus">
       About Us
      </a>
      <a class="MenuAnchorTag" style="color:white"  aria-label="Angular on twitter" rel="noopener" href="/contactus">
        Contact Us
       </a>
       <a class="MenuAnchorTag" style="color:white" aria-label="Angular on twitter" rel="noopener" href="/products">
         Products
        </a>    
    <a class="MenuAnchorTag" style="color:white"  aria-label="Angular on twitter" rel="noopener" href="/registration">
     Registration
    </a>
    <a class="MenuAnchorTag" style="color:white" aria-label="Angular on twitter" rel="noopener" href="#">
      Login
     </a>
</div>

<div class="container">
  <br>
  <br>
  <br>
  <br>
  <router-outlet></router-outlet>
</div>
