<div class="bg-light border-right" id="sidebar-wrapper">      
    <div class="list-group list-group-flush">
      <a  (click)="SendData('Mobile')" class="list-group-item list-group-item-action bg-light">Mobiles</a>
      <a  (click)="SendData('Computer')" class="list-group-item list-group-item-action bg-light">Computers</a>
      <a  (click)="SendData('TV')" class="list-group-item list-group-item-action bg-light">TVs</a>
      <a  (click)="SendData('Watch')" class="list-group-item list-group-item-action bg-light">Watches</a>       
    </div>
  </div>