<h2>Product List</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <td colspan="7">
                <input type="text" class="form-control" name="searchString" [(ngModel)]="searchString">
                <h2>{{newlyAddedProduct}}</h2>
            </td>
            <td>
                <input type="submit" name="addProductBtn" value="Add Product" (click)="NavigateToAddproduct()" class="btn btn-primary" >
            </td>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <!-- <th>Is Available</th> -->
            <th>No of Products Available</th>
            <th>Reviews</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products| filterProducts: searchString">
            <td>{{product.ProductId}}</td>
            <td>{{product.ProductName | uppercase}}</td>
            <td>{{product.Category}}</td>
            <td>{{product.Description}}</td>
            <td>{{product.Price | currency:'INR'}}</td>
            <!-- <td>{{product.StockAvailability}}</td> -->
            <td *ngIf="product.NoofProductsAvailable==0"><p style="color:red">Not Available</p></td>
            <td *ngIf="product.NoofProductsAvailable==1">{{product.NoofProductsAvailable}} <p style="color:lightsalmon">*Limited Products available</p></td>
            <td>{{product.NoofProductsAvailable}}</td>

            <td>{{product.Reviews}}</td>

            <td *ngIf="product.Category=='Mobile'"><img width="100px" height="100px" src="assets/mob.jpg"></td>
            <td *ngIf="product.Category=='Watch'"><img width="100px" height="100px" src="assets/watch.jpg"></td>
            <td *ngIf="product.Category=='Computer'"><img width="100px" height="100px" src="assets/laptopimage.jpg"></td>



            <!-- <td>{{product.ProductId}}</td> -->
            
            <!-- <td *ngIf="marks<35" style="color:red">{{marks}}*</td>
            <td *ngIf="marks>34">{{marks}}</td> -->
        </tr>
       
        
    </tbody>
</table>