<form [formGroup]="productProfile" (ngSubmit)="onSubmit()" class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Product Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="productName" id="productName" placeholder="Enter Produt Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Category:</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="category">
            <option>Choose Category</option>
            <option>Mobile</option>
            <option>Computer</option>
            <option>Watch</option>
            <option>Other</option>
        </select>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Description:</label>
        <div class="col-sm-10">
          <textarea class="form-control" formControlName="description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Price:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" formControlName="price" id="price" placeholder="0.00">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Stock Availability:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" formControlName="stockAvailability" id="stock" placeholder="0">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="reviews">Reviews & Comments:</label>
        <div class="col-sm-10">
          <textarea id="reviews" formControlName="reviews" class="form-control"></textarea>
        </div>
      </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>